@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 5px;
}

ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

li {
  margin: 0.4rem;
  color: blue;
}

li:hover {
  cursor: pointer;
  color: rgb(8, 196, 14);
}
